{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{#primary_author}}
        <div class="term">
            {{> "author-box"}}
        </div>
    {{/primary_author}}

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>
</div>