{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{> "site-intro"}}

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{> "ayu-pagination"}}

</main>
</div>
