{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">
    <section class="term">
        <h1 class="term-name">Search</h1>
        <div class="term-description">Search page placeholder.</div>
    </section>
</main>
</div>
