{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">
    <section class="term">
        <h1 class="term-name">Series</h1>
        <div class="term-description">Latest posts in ongoing multi-part writeups.</div>
    </section>
</main>
</div>
